<?php

namespace SilverStripe\TextCollector\Tests;

use SilverStripe\CMS\Model\SiteTree;

class BasicClass
{
    public function getTranslations()
    {
        return [
            _t(__CLASS__ . '.CLASS_TITLE', '__CLASS__ title'),
            _t('SilverStripe\\TextCollector\\Tests\\BasicClass.TITLE', 'Explicit FQCN title'),
            _t(SiteTree::class . '.TITLE', 'SiteTree::class title'),
            _t(self::class . '.SELF_TITLE', 'self::class title'),
            _t(__CLASS__ . '.EMPTY', 'Empty'),
        ];
    }
}
