<?php

namespace SilverStripe\TextCollector\Tests;

class ConcatenationInEntityValues
{
    public function getTranslations()
    {
        return [
            _t('i18nTestModule.NEWMETHODSIG','New _t method signature test'),
            _t(
                'i18nTestModule.INJECTIONS2',
                'Hello {name} {greeting}. But it is late, {goodbye}',
                ['name' => 'Paul', 'greeting' => 'good you are here', 'goodbye' => 'see you']
            ),
            _t(
                'i18nTestModule.INJECTIONS3',
                'Hello {name} {greeting}. But it is late, {goodbye}',
                'New context (this should be ignored)',
                ['name' => 'Steffen', 'greeting' => 'willkommen', 'goodbye' => 'wiedersehen']
            ),
//            _t('i18nTestModule.INJECTIONS4', ['name' => 'Cat', 'greeting' => 'meow', 'goodbye' => 'meow']),
            _t(
                'i18nTestModule.INJECTIONS6',
                'Hello {name} {greeting}. But it is late, {goodbye}',
                ['name' => 'Paul', 'greeting' => 'good you are here', 'goodbye' => 'see you']
            ),
            _t(
                'i18nTestModule.INJECTIONS7',
                'Hello {name} {greeting}. But it is late, {goodbye}',
                'New context (this should be ignored)',
                ['name' => 'Steffen', 'greeting' => 'willkommen', 'goodbye' => 'wiedersehen']
            ),
//            _t('i18nTestModule.INJECTIONS8', ['name' => 'Cat', 'greeting' => 'meow', 'goodbye' => 'meow']),
            _t('i18nTestModule.INJECTIONS9', 'An item|{count} items', ['count' => 4], 'Test Pluralisation'),
        ];
    }
}
