<?php

namespace SilverStripe\TextCollector\Tests;

class php
{
    public function getTranslations()
    {
        return [
            _t('Test.NO_VALUE'),
            _t('Test.NO_VALUE2', ['name' => 'Cat', 'greeting' => 'meow', 'goodbye' => 'meow']),
        ];
    }
}
