<?php

namespace SilverStripe\TextCollector\Tests;

class Placeholders
{
    public function getLunch()
    {
        return _t(__CLASS__ . '.LUNCH_AMOUNT', 'Get {amount} items for lunch', [
            'amount' => 25
        ]);
    }
}
