<?php

namespace SilverStripe\TextCollector\Tests;

use SilverStripe\ORM\FieldType\DBField;

class TranslationInsideDBField
{
    public function getTranslations()
    {
        return DBField::create_field('HTMLFragment', _t(
            __CLASS__ . '.DRAFT_SITE_ACCESS_RESTRICTION',
            'You must log in with your CMS password in order to view the draft or archived content. '
            . '<a href="{link}">Click here to go back to the published site.</a>',
            ['link' => 'testing']
        ));
    }
}
