<?php

namespace SilverStripe\TextCollector\Tests;

class WithComments
{
    public function getTranslations()
    {
        return [
            _t('Test.EXAMPLE1', 'An example string', 'Comment describing the example string'),
            _t('Test.EXAMPLE2', 'An example string', 'Comment', ['something' => 'irrelevant']),
            _t('Test.EXAMPLE3', 'An example string', ['something' => 'irrelevant'], 'Comment'),
        ];
    }
}
