<?php

namespace SilverStripe\TextCollector\Tests;

class WrongValueArgument
{
    public function getTranslation()
    {
        return _t('Test.NO_VALUE2', ['name' => 'Cat', 'greeting' => 'meow', 'goodbye' => 'meow']);
    }
}
